@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: black;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
