.pane {
  position: absolute;

  left: -10px;
  top: -10px;

  opacity: 0;
  transition: 0.2s opacity;
}

.top_group,
.bottom_group {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10px;
}

.middle_group {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.titlebar {
  background: hsl(var(--primary));
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  min-height: 50px;
}

.icon {
  width: 14px;
  aspect-ratio: 1/1;
}

.title {
  padding: 0 1.2em;
  font-weight: 600;
  height: 35px;
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.55em;
  font-size: 16px;
}

.title > span {
  overflow: hidden;
  white-space: nowrap;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  height: 100%;
}

.actions > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1 !important;
  cursor: pointer;
}

.actions > div:hover {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

.actions > div:last-child:hover {
  background: red;
  color: hsl(var(--foreground));
}

.body {
  width: calc(100% - 20px);

  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: all;
  overflow: hidden;
  border-radius: 0.7em;
  border: 2px solid hsl(var(--accent));
}

.content {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.overflow_allowed {
  overflow-y: scroll;
}

.bottom_left_resize_handle,
.bottom_right_resize_handle,
.top_left_resize_handle,
.top_right_resize_handle {
  width: 10px;
  aspect-ratio: 1/1;
  transition-duration: 1s;
}

.bottom_resize_handle:hover,
.top_resize_handle:hover,
.left_resize_handle:hover,
.right_resize_handle:hover,
.bottom_resize_handle:active,
.top_resize_handle:active,
.left_resize_handle:active,
.right_resize_handle:active {
  background: hsl(var(--foreground));
  opacity: 0.1;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-delay: 1s border-radius;
  border-radius: 3px;
}

.bottom_resize_handle:hover,
.top_resize_handle:hover,
.left_resize_handle:hover,
.right_resize_handle:hover {
  transform: scale(0.95);
}

.bottom_resize_handle:active,
.top_resize_handle:active,
.left_resize_handle:active,
.right_resize_handle:active {
  transform: scale(0.9);
}

.bottom_left_resize_handle,
.top_right_resize_handle {
  cursor: nesw-resize;
}

.bottom_right_resize_handle,
.top_left_resize_handle {
  cursor: nwse-resize;
}

.bottom_resize_handle,
.top_resize_handle {
  width: 100%;
  height: 10px;
  cursor: ns-resize;

  opacity: 0;
  transition-duration: 1s;
}

.left_resize_handle,
.right_resize_handle {
  cursor: ew-resize;
  width: 10px;
  opacity: 0;
  transition-duration: 1s;
}
